@media (min-width: 0px) {
    

    /* .navbar {
        background-color: #819FF7;
        padding         : 1em;
        margin          : 0;

        height   : 100%;
        width    : 90%;
        max-width: 320px;

        position: fixed;
        z-index : 1;
        top     : 0;
        left    : -100%;

        transition: left 0.3s ease-out;
    } */



    

}

@media (min-width: 800px) {
    /* .navbar ul {
        display       : flex;
        flex-direction: row;
        align-items   : center;
    } */

    /* .navbar {
        background-color: #819FF7;
        width           : unset;
        position        : unset;
    } */

    /* .navbar ul li {
        margin-right: 20px;
    } */

    .navbar {
        margin-right: 0px;
    }
}

